* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 
.container--content {
  width: 100%; 
}*/
.container--inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.container--inputs input {
  width: 200px;
}
.container--inputs-btns {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.btn {
  width: 390px;
  height: 40px;
  border-radius: 15px;
}
.container--content {
  width: 100%;
  align-items: center;
}

.container--heading {
  padding: 15px;
}
