.bg--search {
  display: block;
  margin: auto;
  padding: auto;
  /* width: 50%; */
}

.bg--svg {
  display: block;
  margin: auto;
}

.bg--main {
  display: grid;
  /* background-color: black; */
}

body {
  background: linear-gradient(90deg, #f5f3c1, #27e1c1);
  animation: const 7s infinite;
}

/* @keyframes const {
  from {
    background-color: #f5f3c1;
  }
  to {
    background-color: #27e1c1;
  }
} */
