* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #f5f3c1, #27e1c1);
  /* animation: joshi 5s infinite; */
}

.bg--main {
  width: 100%;
  height: 100vh;
  animation: joshi 4s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* @keyframes joshi {
  0% {
    background-color: #f5f3c1;
  }
  100% {
    background-color: #27e1c1;
  }
} */

.bg--search input {
  width: 450px;
  height: 30px;
  border-color: red;
  /* border: 30px; */
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  border: none;
}

.bg--search {
  position: relative;
  text-align: center;
}

/* .bg--search .kj {
  width: 0px;
  height: 100%;
  background-color: red;
  opacity: 0.2;
  position: absolute;
  left: 1px;
  top: 0;
  transition: all 0.8s ease-in-out;
  border-radius: 10px;
} */

/* .bg--search input:hover {
  transform: scale(1.05);
  background-color: rgb(248, 210, 210);
} */

.bg--search:hover .kj {
  width: 100%;
}

.bg--btn {
  margin: 2px auto;
  padding: 10px 20px;
  margin-top: 20px;
  height: 40px;
  background: linear-gradient(90deg, #f5f3c1, #27e1c1);
  /* border: red; */
  transition: 0.3s ease-in-out;
}

.bg--btn:hover {
  scale: 1.06;
}
