* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(90deg, #f5f3c1, #27e1c1); */
  animation: joshi 5s infinite;
}

.bg--main {
  width: 100%;
  height: 100vh;
  animation: joshi 4s infinite;
}

@keyframes joshi {
  0% {
    background-color: #f5f3c1;
  }
  100% {
    background-color: #27e1c1;
  }
}
