* {
  margin: 0;
}

.bgcolor {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #ff8b13, #ba47d9);

  position: absolute;
  z-index: -1;
}
.loginbox {
  height: 500px;
  width: 500px;
  border: solid 5px black;
  filter: blur(1px) saturate(1000%);
}

:root {
  font-size: 20px;
  box-sizing: inherit;
}
