@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #ff8b13, #ba47d9);
  background-repeat: no-repeat;
  z-index: -1;
  overflow: scroll;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.loginbox {
  height: 500px;
  width: 500px;
  margin-top: 100px;
  margin-left: -200px;
}

.title {
  text-align: center;
}

.blureffect {
  position: absolute;
  height: 500px;
  width: 800px;
  box-shadow: 0 0 15px 5px rgba(57, 57, 57, 0.736);
  background-color: white;
  border-radius: 15px;
  opacity: 1;
  z-index: -1;
}
h2.title {
  position: absolute;
  text-shadow: rgb(255, 253, 248) 1px 0 10px;
  bottom: 300px;
  left: 20px;
}

.ip1 {
  margin: 1em;
}

.ip2 {
  margin: 1em;
}
.button {
  position: absolute;
  margin: 1em;
  width: 170px;
  height: 35px;
  padding: 10px;
  background: linear-gradient(135deg, #ff8b13, #ba47d9);
  color: whitesmoke;
  border-radius: 15px;
  border: black;
  box-shadow: 0 0 10px 2 px rgba(57, 57, 57, 0.736);
}

.bg--content {
  position: absolute;
  text-align: left;
  width: 100%;
  left: 550px;
  bottom: 50px;
}

.background {
  width: 50%;
  align-items: right;
}

.fgu {
  position: relative;
  margin: 5em;
  opacity: 0.5;
  right: 1px;
}

img {
  position: absolute;
  height: 500px;
  width: 500px;
  left: 0px;
  border-radius: 15px;
  z-index: -1;
}
